* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

.img-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/*
  http://stackoverflow.com/a/5804278
  remove additional space under image
*/
.img-line-fix {
    display: block;
}

.img-wrapper > img {
}